html{
    min-height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
 flex: 1;
}

.custom-hero-bg {
  background-image: url("./assets/beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(3px);
 
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-image {
  max-width: 300px;   
  max-height: 200px;  
  object-fit: cover;  
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

