.hero-container {
  min-height: 70vh;
  color: white;
  background-image: url("../assets/beach.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // overlay dark
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }

  // testo sopra overlay
  .hero-title,
  .hero-subtitle,
  .hero-btn {
    position: relative;
    z-index: 2;
  }

  .hero-title {
    font-size: 3rem;
    font-weight: 700;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    max-width: 600px;
  }

  .hero-btn {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }
}

// Responsive
@media (max-width: 768px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .hero-btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
